* {
  /* Reset default values */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #444444;
}

h1,
span {
  width: 400px;
}

h1 {
  border: 1px solid blue;
  padding: 10px; /* when 4 values it goes clockwise from top-left-bot-right */
  color: rebeccapurple;
}

a {
  color: inherit; /* Overwrite browser default styles and inherit color from parent that has color set */
}
span {
  display: inline-block;
}

h2 {
  width: 80%;
}
