* {
  /* Reset default values */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #444444;
}

main {
  margin: 0 auto;
  max-width: 900px; /* VERY IMPORTANT TO RESPONSIVE AND LOOK GOOD */
  padding: 20px;
  background-color: violet;
}

.nav {
  margin: 0 auto;
}

.site-header {
  background-color: white;
  padding: 40px 20px; /* 20px same as main and footer */
}

.site-header-logo {
  display: inline-block;
  width: 40px;
}

.site-header-link {
  display: inline-block;
  background-color: teal;
  padding: 20px;
}

.site-menu {
  display: inline-block;
}

.site-menu-link {
  display: inline-block;
  padding: 20px;
}
.site-menu-link:hover {
  color: tomato;
}

h1,
span {
  width: 400px;
}

h1 {
  border: 1px solid blue;
  padding: 10px; /* when 4 values it goes clockwise from top-left-bot-right */
  color: rebeccapurple;
}

a {
  color: inherit; /* Overwrite browser default styles and inherit color from parent that has color set */
}
span {
  display: inline-block;
}

h2 {
  width: 80%;
}

footer {
  background-color: sandybrown;
  padding: 20px;
  color: white;
  text-align: right;
}
